#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<!-- Configuration de Spring, specialement pour les couches DAO : - precise la configuration iBatis, - precise le mode de 
	connexion utilise - et indique a Spring s'il doit utiliser le mode "transaction par annotation" -->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.1.xsd
http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.1.xsd">

	<bean id="jdbcPropertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:jdbc.properties" />
		<property name="placeholderPrefix" value="${symbol_dollar}jdbc{" />
	</bean>

	<!-- Initialisation de la datasource -->
	<bean id="dataSource" class="org.apache.commons.dbcp.ManagedBasicDataSource">
  	    <constructor-arg value="org.apache.commons.dbcp:ManagedBasicDataSource=${symbol_dollar}jdbc{jdbc.jmxname}"/>
		<property name="driverClassName" value="${symbol_dollar}jdbc{jdbc.driver}" />
		<property name="url" value="${symbol_dollar}jdbc{jdbc.url}" />
		<property name="username" value="${symbol_dollar}jdbc{jdbc.username}" />
		<property name="password" value="${symbol_dollar}jdbc{jdbc.password}" />

		<!-- paramètres propres au pool de connexion -->
		<property name="validationQuery" value="${symbol_dollar}jdbc{jdbc.validationQuery}" />
		<property name="maxActive" value="${symbol_dollar}jdbc{jdbc.maxActive}" />
		<property name="maxIdle" value="${symbol_dollar}jdbc{jdbc.maxIdle}" />
		<property name="maxWait" value="${symbol_dollar}jdbc{jdbc.maxWait}" />
		<property name="testOnBorrow" value="${symbol_dollar}jdbc{jdbc.testOnBorrow}" />
		<property name="testWhileIdle" value="${symbol_dollar}jdbc{jdbc.testWhileIdle}" />
		<property name="timeBetweenEvictionRunsMillis" value="${symbol_dollar}jdbc{jdbc.timeBetweenEvictionRunsMillis}" />
		<property name="numTestsPerEvictionRun" value="${symbol_dollar}jdbc{jdbc.numTestsPerEvictionRun}" />
		<property name="removeAbandoned" value="${symbol_dollar}jdbc{jdbc.removeAbandoned}" />
		<property name="removeAbandonedTimeout" value="${symbol_dollar}jdbc{jdbc.removeAbandonedTimeout}" />
		<property name="logAbandoned" value="${symbol_dollar}jdbc{jdbc.logAbandoned}" />
	</bean>

	<!-- Initialisation de la base de données -->
	<jdbc:initialize-database data-source="dataSource">
		<jdbc:script location="classpath:createTables.sql" />
		<jdbc:script location="classpath:initData.sql" />
	</jdbc:initialize-database>

</beans>