#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

	<property name="repertoire" value="D:/logs/${artifactId}" />
	<property name="nomFichier" value="${artifactId}" />
	<property name="nomFichierRolling" value="${artifactId}-%d{yyyy-MM-dd}.%i.log" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy:MM:dd:HH:mm:ss,SSS}|%p|%X{login}|%t|%c|%m%n</pattern>
		</encoder>
	</appender>

	<!--  
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${symbol_dollar}{repertoire}/${symbol_dollar}{nomFichier}</file>
		<append>true</append>
		<encoder>
			<pattern>%d{yyyy:MM:dd:HH:mm:ss,SSS}|%p|%X{login}|%t|%c|%m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${symbol_dollar}{repertoire}/${symbol_dollar}{nomFichierRolling}</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
					<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	-->

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<!--  
		<appender-ref ref="FILE" />
		-->
	</root>

	<!-- definition des logs applicatifs -->
	<logger name="fr.gouv.diplomatie" level="INFO" />

	<!-- definition des logs HORNET -->
	<logger name="hornet" level="INFO" />

	<!-- definition des logs SPRING -->
	<logger name="org.springframework" level="INFO" />

	<!-- definition des logs IBATIS et JDBC -->
	<logger name="java.sql.Statement" level="INFO" />
	<logger name="java.sql.ResultSet" level="INFO" />
	<logger name="java.sql.Connection" level="INFO" />
	<logger name="java.sql.PreparedStatement" level="INFO" />

	
</configuration>
