#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
${symbol_pound}set(${symbol_dollar}corps = ${symbol_dollar}corps.replaceAll("${symbol_escape}n", "<br />"))
<p>Bonjour,</p>
<p>L'utilisateur ${symbol_dollar}prenom ${symbol_dollar}nom souhaite vous contacter. 
Voici le contenu de sa demande :</p>
  <blockquote><i>
    ${symbol_dollar}corps
  </i></blockquote>
<p>Envoyé le : ${symbol_dollar}date<br/>
Par : <a href="${symbol_dollar}applicationUrl">${symbol_dollar}applicationName</a></p>